@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+KR:wght@100..900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

Select {
  font-family: inherit; /* 폰트 상속 */
  /* 네이티브 화살표를 커스텀 화살표로 대체 */
  -webkit-appearance: none;
  /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
}

Select::-ms-expand {
  display: none; /* 화살표 없애기 for IE10, 11*/
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

/* IE10 이상에서 input box 에 추가된 지우기 버튼 제거 */
input::-ms-clear {
  display: none;
}

/* input type number 에서 화살표 제거 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


html {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, HelveticaNeue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  color: #2C2C2C;
}

a {
  color: inherit;
  text-decoration: none;
}

.gnb {
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 52px 0 24px;
  border-bottom: 1px solid #AEAFAF;
  box-sizing: border-box;
}
.gnb .gnb-left {
  display: flex;
  align-items: center;
  gap: 50px;
  font-size: 25px;
  font-weight: bold;
}
.gnb .gnb-left .home img {
  width: 115px;
}
.gnb .gnb-right {
  display: flex;
  align-items: center;
  gap: 26px;
}
.gnb .gnb-right .loginState > * {
  display: none;
}
.gnb .gnb-right .loginState > .ac {
  display: block;
}
.gnb .gnb-right .loginBtn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 30px;
  border-radius: 4px;
  background-color: #747474;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: -0.6px;
}
.gnb .gnb-right .icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
  box-sizing: border-box;
}
.gnb .gnb-right .icon.lang {
  background: url(/public/img/ic_lang.svg) center/80% no-repeat;
}
.gnb .gnb-right .icon.alram {
  background: url(/public/img/ic_alram.svg) center/80% no-repeat;
}
.gnb .gnb-right .icon.profile {
  border-radius: 50%;
  overflow: hidden;
  background: url(/public/img/img_profile_df.jpg) center/110% no-repeat;
  position: relative;
  z-index: 0;
}
.gnb .gnb-right .icon.profile::after {
  content: "";
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.6);
}
.gnb .gnb-right .icon.profile img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.inner {
  max-width: 1584px;
  padding: 0 20px;
  margin: 0 auto;
}

.hero {
  margin-top: 20px;
  margin-bottom: 40px;
}
.hero .inner .slick-list {
  border: 1px solid #000;
}
.hero .inner .slick-slide {
  height: 192px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .inner .slick-arrow {
  width: 32px;
  height: 32px;
  text-indent: -9999px;
}
.hero .inner .slick-arrow.slick-prev {
  z-index: 1;
  left: 15px;
  background: url(/public/img/ic_slider_arr_left.svg) center no-repeat;
}
.hero .inner .slick-arrow.slick-next {
  z-index: 1;
  right: 15px;
  background: url(/public/img/ic_slider_arr_right.svg) center no-repeat;
}/*# sourceMappingURL=index.css.map */